.grid-seperator {
    border-right: 2px solid #CBCBCB;
}

.go-loader {
    text-align: center;
    height: 100%;
    /* min-height: 1000px; */
    width: 100%;
    text-align: center;
    color: white;
    overflow: hidden;
    background: #9a9a9a;  /* fallback for old browsers */
    background: linear-gradient(rgb(233,233,233), rgb(147,149,152));
    background-size: cover;
    background-repeat: no-repeat;
    max-height: 992px;
}

.go-loader img {
    margin: auto;
}

.img-responsive {
    max-width: 100%;
}

.m-auto{
    margin: auto;
}

.seprator{
    margin: 1em -1em;
    border: 1px solid #E8E8E8;
}

.totequantity{
    display: flex;
    justify-content: center;
}

#background-video {
    max-height: 1080px;
    max-width: 1920px;
    left: auto;
    right: auto;
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: -1;
    filter: blur(2px);
}
.welcome-text{
    color: white;
    font-weight: bold !important;
}
.container-main{
    max-width: 1920px;
    max-height: 1080px;
    position: relative;
}
