.grid-seperator {
    border-right: 2px solid #CBCBCB;
}

.go-loader {
    text-align: center;
    min-height: 92vh;
}

.go-loader img {
    margin: auto;
    margin-top: calc(30% - 300px);
}

.img-responsive {
    max-width: 100%;
}

.seprator{
    margin: 1em -1em;
    border: 1px solid #E8E8E8;
}

.totequantity{
    display: flex;
    justify-content: center;
}

#background-video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    filter: blur(2px);
}
.welcome-text{
    color: white;
    font-weight: bold !important;
}