name: CI

on:
  push:
    tags:
      - '**'
    branches: 
      - develop
      - 'release-**'

permissions:
  contents: read
  id-token: write

jobs:
  build-images:
    name: Build images
    uses: ./.github/workflows/build-images.yml
    with:
      push_registry: us-docker.pkg.dev/greymatter-development/apps/
